{% extends 'base.html' %}

{% block content %}

    <center><h1>new post</h1></center>

    <form method="post" id="blog">
        <label>
            <div>Title</div>
            <input type="text" name="title" value="{{title}}">
        </label>

        <br>

        <label>
            <div>Post</div>
            <textarea name="body">{{body}}</textarea>
        </label>

        <br>

        <div class="error">{{ error }}</div>

        <br>

        <input type="submit" value="Submit">
    </form>

{% endblock %}
