{% extends 'base.html' %}

{% block content %}

    <center><h1>Signup</h1></center>
    <form method="post" id="blog">
        <table cellspacing="5" cellpadding="5">
            <tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" value="{{ username }}">
                    <span class="error">{{ errors.username_error }}</span>
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                    <span class="error">{{ errors.password_error }}</span>
                </td>
            </tr>
            <tr>
                <td><label for="verify">Verify Password</label></td>
                <td>
                    <input name="verify" type="password">
                    <span class="error">{{ errors.verify_error }}</span>
                </td>
            </tr>
            <tr>
                <td><label for="email">Email (optional)</label></td>
                <td>
                    <input name="email" type="email" value="{{ email }}">
                    <span class="error">{{ errors.email_error }}</span>
                </td>
            </tr>
        </table>

        <br>

        <input type="submit" value="Submit">
    </form>

{% endblock %}
